<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>传感器详情</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

    <!-- char.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="/static/utils.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'devman:overview' %}">设备管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'devman:overview' %}">设备状态</a></li>
            <li><a href="{% url 'devman:plan' %}">生产计划</a></li>
            <li><a href="{% url 'devman:hist' %}">历史数据</a></li>
            <li class="active"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'data' %}">传感器详情</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索...">
            <button type="button" class="btn btn-default btn-xs" style="font-size: 18px">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin: 0 auto; width: 1200px">
      <!-- head nav tabs start -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'data' %}">轴承数据</a></li>
        <li role="presentation"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'health' %}">健康指标预测</a></li>
        <li role="presentation"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'life' %}">剩余寿命预测</a></li>
      </ul>
      <!-- head nav tabs end -->

      <div class="page-header">
        <h3>信号数据</h3>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a id="databtn1" class="list-group-item active" onclick="changeDataState(this)">横向振动信号</a>
            <a id="databtn2" class="list-group-item" onclick="changeDataState(this)">纵向振动信号</a>
          </div>
          <script type="text/javascript">
            function changeDataState(element) {
              if (document.getElementById(element.id).className == "list-group-item") {
                // Update dataset after we change the data catagory
                signal_cfg.data.datasets.forEach(function(dataset) {
                  dataset.data = randomSignalDataset(totalSignalNum);
                });

                signal_chart.update();
              }

              // Switch data catagory display
              if (element.id == "databtn1") {
                document.getElementById("databtn1").className = "list-group-item active";
                document.getElementById("databtn2").className = "list-group-item";
              } else {
                document.getElementById("databtn1").className = "list-group-item";
                document.getElementById("databtn2").className = "list-group-item active";
              }
            }
          </script>
        </div>
        <div class="col-md-9">
          <!-- data chart start -->
          <div style="margin: 0 auto;">
            <canvas id="line-chart-one"></canvas>
          </div>
          <script>
            function randomNumber(min, max) {
              return Math.random() * (max - min) + min;
            }

            function randomBar(date, lastClose) {
              var open = randomNumber(lastClose * 0.95, lastClose * 1.05).toFixed(2);
              var close = randomNumber(open * 0.95, open * 1.05).toFixed(2);
              return {
                t: date.valueOf(),
                y: close
              };
            }

            function randomSignalData(date, totalNum, currNum) {
              var point = 300.0 / (totalNum - currNum + 10);
              point = point + Math.random() * point / 2;
              if (currNum % 2 == 0) {
                point = -point;
              }
              point = point.toFixed(2);
              return {
                t: date.valueOf(),
                y: point
              };
            }

            function randomSignalDataset(totalNum) {
              var dateFormat = 'MMMM DD YYYY';
              var signal_date = moment('March 01 2019', dateFormat);
              var signal_data = [randomSignalData(signal_date, totalNum, 1)];
              while (signal_data.length < totalNum) {
                signal_date = signal_date.clone().add(1, 'd');
                if (signal_date.isoWeekday() <= 5) {
                  signal_data.push(randomSignalData(signal_date, totalNum, signal_data.length + 1));
                }
              }
              return signal_data;
            }

            var totalSignalNum = 500;
            signal_data = randomSignalDataset(totalSignalNum);

            var signal_ctx = document.getElementById('line-chart-one').getContext('2d');
            signal_ctx.canvas.width = 1200;
            signal_ctx.canvas.height = 500;

            var color = Chart.helpers.color;
            var signal_cfg = {
              type: 'bar',
              data: {
                datasets: [{
                  label: '横向振动信号',
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  data: signal_data,
                  type: 'line',
                  pointRadius: 0,
                  fill: false,
                  lineTension: 0,
                  borderWidth: 2
                }]
              },
              options: {
                scales: {
                  xAxes: [{
                    type: 'time',
                    distribution: 'series',
                    ticks: {
                      source: 'data',
                      autoSkip: true
                    }
                  }],
                  yAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Acceleration'
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    label: function(tooltipItem, myData) {
                      var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                      if (label) {
                        label += ': ';
                      }
                      label += parseFloat(tooltipItem.value).toFixed(2);
                      return label;
                    }
                  }
                }
              }
            };

            var signal_chart = new Chart(signal_ctx, signal_cfg);
          </script>
          <!-- data chart end -->
        </div>
      </div>

      <div class="page-header">
        <h3>信号特征</h3>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item active">相关系数</a>
            <a id="r_coeff" class="list-group-item">0.85</a>
          </div>
          <!-- select class="selectpicker">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Barbecue</option>
          </select> -->
          <h5>特征选择</h5>
          <select class="form-control selectpicker" data-live-search="true">
            <optgroup label="时域RS特征">
              <option value="1" selected="selected">F1</option>
            </optgroup>   
            <optgroup label="频域RS特征">
              <option value="1">F2</option>
              <option value="2">F3</option>
              <option value="3">F4</option>
              <option value="4">F5</option>
            </optgroup>  
            <optgroup label="能量特征">
             <option value="1">F6</option>
             <option value="2">F7</option>
             <option value="3">F8</option>
             <option value="4">F9</option>
             <option value="5">F10</option>
             <option value="6">F11</option>
             <option value="7">F12</option>
             <option value="8">F13</option>
             <option value="9">F14</option>
             <option value="10">F15</option>
            </optgroup>                          
          </select>
          <script type="text/javascript">
            function changeFeatureState(element) {
              if (document.getElementById(element.id).className == "list-group-item") {
                // Update dataset after we change the data catagory
                feature_cfg.data.datasets.forEach(function(dataset) {
                  dataset.data = randomFeatureDataset(seg1, seg2, seg3);
                });

                feature_chart.update();

                document.getElementById("r_coeff").innerHTML = randomNumber(0.8, 0.9).toFixed(2);
              }
            }
          </script>
        </div>
        <div class="col-md-9">
          <!-- feature chart start -->
          <div style="margin: 0 auto;">
            <canvas id="line-chart-two"></canvas>
          </div>
          <script type="text/javascript">
            function randomSignalFeature(date, startValue, endValue, totalNum, currNum) {
              var baseValue = (endValue - startValue) * (currNum / totalNum) + startValue;
              var fakeValue =  randomNumber(0.7 * baseValue, 1.3 * baseValue);
              fakeValue = fakeValue.toFixed(2);
              return {
                t: date.valueOf(),
                y: fakeValue
              }
            }

            function randomFeatureDataset(seg1, seg2,seg3) {
              var dateFormat = 'MMMM DD YYYY';
              var date = moment('March 01 2019', dateFormat);
              var data = [randomSignalFeature(date, 0.7, 0.3, 100, 0)];
              while (data.length < seg1) {
                date = date.clone().add(1, 'd');
                if (date.isoWeekday() <= 5) {
                  data.push(randomSignalFeature(date, 0.7, 0.3, seg1, data.length));
                }
              }
              while (data.length < seg2) {
                date = date.clone().add(1, 'd');
                if (date.isoWeekday() <= 5) {
                  data.push(randomSignalFeature(date, 0.3, 0.1, seg2 - seg1, data.length - seg1));
                }
              }
              while (data.length < seg3) {
                date = date.clone().add(1, 'd');
                if (date.isoWeekday() <= 5) {
                  data.push(randomSignalFeature(date, 0.1, 0.0, seg3 - seg2, data.length - seg2));
                }
              }
              return data;
            }

            var seg1 = 35;
            var seg2 = 130;
            var seg3 = 238;
            feature_data = randomFeatureDataset(seg1, seg2, seg3);

            var feature_ctx = document.getElementById('line-chart-two').getContext('2d');
            feature_ctx.canvas.width = 1200;
            feature_ctx.canvas.height = 500;

            var color = Chart.helpers.color;
            var feature_cfg = {
              type: 'bar',
              data: {
                datasets: [{
                  label: '时域RS特征',
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  data: feature_data,
                  type: 'line',
                  pointRadius: 0,
                  fill: false,
                  lineTension: 0,
                  borderWidth: 2
                }]
              },
              options: {
                scales: {
                  xAxes: [{
                    type: 'time',
                    distribution: 'series',
                    ticks: {
                      source: 'data',
                      autoSkip: true
                    }
                  }],
                  yAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Value'
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    label: function(tooltipItem, myData) {
                      var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                      if (label) {
                        label += ': ';
                      }
                      label += parseFloat(tooltipItem.value).toFixed(2);
                      return label;
                    }
                  }
                }
              }
            };

            var feature_chart = new Chart(feature_ctx, feature_cfg);
          </script>
          <!-- feature chart end -->

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
  </body>
</html>
