<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>传感器详情</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

    <!-- char.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="/static/utils.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'devman:overview' %}">CRANEHub</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'devman:overview' %}">设备状态</a></li>
            <li><a href="{% url 'devman:plan' %}">生产计划</a></li>
            <li><a href="{% url 'devman:hist' %}">历史数据</a></li>
            <li class="active"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'data' %}">传感器详情</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索...">
            <button type="button" class="btn btn-default btn-xs" style="font-size: 18px">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin: 0 auto; width: 1200px">
      <div class="page-header">
        <h3>液压系统数据</h3>
      </div>

      <!-- or another darker gray DCDCDC -->
      <div class="col-md-4" style="background: #F5F5F5; margin-left: 40px;">
        <div class="row" style="text-align:center">
          <h1>
            <span class="label label-primary">&nbsp;&nbsp;&nbsp;冷却器&nbsp;&nbsp;&nbsp;</span>
          </h1>
        </div>
        <div class="row" align="center">
          <br/><br/>
          <img src="/static/medias/cooler.png" width="300"/>
          <br/><br/><br/>
        </div>
        <div class="row" style="background: #FFFFFF">
          <br/>
        </div>
        <div class="row" style="text-align:center">
          <br/>
          <button type="button" class="btn btn-success">预测采样数</button>
          <input type="text" size="10">
          <br/>
          <div class="row" style="margin-top: 15px">
            <a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'result' %}"><button type="button" class="btn btn-default">开始预测</button></a>
          </div>
          <br/>
        </div>
      </div>

      <div class="col-md-7" style="background: #F5F5F5; margin-left: 20px;">
        <div class="row" style="margin-left: 20px;">
          <h2>
            <span class="label label-primary">监测数据</span>
          </h2>
          <div class="row" style="margin-left: 5px; margin-top: 20px">
            <button id="btn1" type="button" onclick="changeButton(this)" class="btn btn-default">压力</button>
            <button id="btn2" type="button" onclick="changeButton(this)" class="btn btn-default">电动机功率</button>
            <button id="btn3" type="button" onclick="changeButton(this)" class="btn btn-default">体积流量</button>
            <button id="btn4" type="button" onclick="changeButton(this)" class="btn btn-default">温度</button>
            <button id="btn5" type="button" onclick="changeButton(this)" class="btn btn-info">振动</button>
            <button id="btn6" type="button" onclick="changeButton(this)" class="btn btn-default">冷却效率</button>
            <button id="btn7" type="button" onclick="changeButton(this)" class="btn btn-default">冷却功率</button>
            <button id="btn8" type="button" onclick="changeButton(this)" class="btn btn-default">效率因子</button>
          </div>
          <script type="text/javascript">
            function changeButton(element) {
              var btns = ["btn1", "btn2", "btn3", "btn4",
                          "btn5", "btn6", "btn7", "btn8"];
              for  (var i = 0; i < btns.length; i++) {
                document.getElementById(btns[i]).className = "btn btn-default";
              }
              document.getElementById(element.id).className = "btn btn-info"

              var data_name = document.getElementById(element.id).innerHTML;

              config.data.datasets.splice(0, 1);
              var newDataset = {
                label: data_name,
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [],
                fill: false
              };

              for (var index = 0; index < 7; ++index) {
                newDataset.data.push(randomScalingFactor());
              }

              config.data.datasets.push(newDataset);

              window.myLine.update();
            }
          </script>
          <div class="row" style="margin-top: 25px">
            <div style="width: 90%;">
              <canvas id="canvas"></canvas>
            </div>
            <script>
              var config = {
                type: 'line',
                data: {
                  labels: ['0', '10', '20', '30', '40', '50', '60'],
                  datasets: [{
                    label: '振动',
                    fill: false,
                    backgroundColor: window.chartColors.yellow,
                    borderColor: window.chartColors.yellow,
                    data: [
                      randomScalingFactor(),
                      randomScalingFactor(),
                      randomScalingFactor(),
                      randomScalingFactor(),
                      randomScalingFactor(),
                      randomScalingFactor(),
                      randomScalingFactor()
                    ],
                  // }, {
                  //   label: '体积流量',
                  //   fill: false,
                  //   backgroundColor: window.chartColors.blue,
                  //   borderColor: window.chartColors.blue,
                  //   data: [
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor()
                  //   ],
                  // }, {
                  //   label: '压力',
                  //   fill: false,
                  //   backgroundColor: window.chartColors.yellow,
                  //   borderColor: window.chartColors.yellow,
                  //   data: [
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor(),
                  //     randomScalingFactor()
                  //   ],
                  }]
                },
                options: {
                  responsive: true,
                  title: {
                    display: false,
                    text: 'Chart.js Line Chart'
                  },
                  tooltips: {
                    mode: 'index',
                    intersect: false,
                  },
                  hover: {
                    mode: 'nearest',
                    intersect: true
                  },
                  scales: {
                    xAxes: [{
                      display: true,
                      scaleLabel: {
                        display: true,
                        labelString: '时间(s)'
                      }
                    }],
                    yAxes: [{
                      display: true,
                      scaleLabel: {
                        display: true,
                        labelString: '数值'
                      },
                    }]
                  }
                }
              };

              window.onload = function() {
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myLine = new Chart(ctx, config);
              };
            </script>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
