<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>传感器详情</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

    <!-- char.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="/static/utils.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'devman:overview' %}">设备管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'devman:overview' %}">设备状态</a></li>
            <li><a href="{% url 'devman:plan' %}">生产计划</a></li>
            <li><a href="{% url 'devman:hist' %}">历史数据</a></li>
            <li class="active"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'data' %}">传感器详情</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索...">
            <button type="button" class="btn btn-default btn-xs" style="font-size: 18px">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin: 0 auto; width: 1200px">
      <!-- head nav tabs start -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'data' %}">轴承数据</a></li>
        <li role="presentation"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'health' %}">健康指标预测</a></li>
        <li role="presentation"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'life' %}">剩余寿命预测</a></li>
      </ul>
      <!-- head nav tabs end -->

      <div class="page-header">
        <h3>信号数据</h3>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a href="" class="list-group-item active">横向振动信号</a>
            <a href="" class="list-group-item">纵向振动信号</a>
          </div>
        </div>
        <div class="col-md-9">
          <img src="/static/medias/bearing_data_1.png" width="800"/>
        </div>
      </div>

      <div class="page-header">
        <h3>信号特征</h3>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a href="" class="list-group-item active">时域RS特征</a>
            <a href="" class="list-group-item">频域RS特征</a>
            <a href="" class="list-group-item">能量特征</a>
          </div>
          <div class="list-group">
            <a href="" class="list-group-item active">相关系数</a>
            <a href="" class="list-group-item">0.9</a>
          </div>
        </div>
        <div class="col-md-9">
          <img src="/static/medias/bearing_data_2.png" width="800" height="350"/>
        </div>
      </div>

<!--       <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item</a></li>
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
          <li><a href="">More navigation</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
        </ul>
      </div>

      <div class="col-md-offset-2 main">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'data' %}">轴承数据</a></li>
          <li role="presentation"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'health' %}">健康指标预测</a></li>
          <li role="presentation"><a href="{% url 'devman:sensor' sensor.sensor_type sensor.id 'life' %}">剩余寿命预测</a></li>
        </ul>
      </div> -->

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
